/* CUSTOM PROPS  */
:root {
  --accent-color: #111517;
  --element-bg: #ffffff;
  --body-bg: #fafafa;
}

/* FONT-FACE  */
@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-sans-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/nunito-sans-v15-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nunito-sans-v15-latin-800.woff2") format("woff2");
}

/* GLOBAL  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 14px;
  background-color: var(--element-bg);
  color: var(--accent-color);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* DARK-MODE  */
.dark-mode {
  --accent-color: #ffffff;
  --element-bg: #2b3844;
  --body-bg: #202c36;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
  padding-top: 48px;
  padding-bottom: 45px;
  background-color: var(--body-bg);
}

/* SITE-HEADER  */
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
  background-color: var(--element-bg);
  color: var(--accent-color);
}
.site-header-heading {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
}
.mode-changer {
  font-weight: 600;
  line-height: normal;
  background-image: url("../img/mode-changer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  text-decoration: none;
  color: var(--accent-color);
}
.mode-changer::before {
  width: 20px;
  height: 20px;
  margin-left: 110px;
  content: "";
}

.form-fields {
  display: flex;
  justify-content: space-between;
}
.form-field {
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 55px;
  padding-right: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 5px;
  background-color: var(--element-bg);
  color: #848484;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 30px center;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}
.filter-regions {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  border-radius: 5px;
  background-color: var(--element-bg);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}